@import './reset.scss';
@import './variables/global.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

.app {
    font: var(--font-xs);
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}
