.Icon {
	display: flex;
	align-items: center;
	justify-content: center;

	&Light {
		& > svg {
			path {
				fill: var(--icon-color);
			}
		}
	}

	&Dark {
		& > svg {
			path {
				fill: var(--icon-color);
			}
		}
	}
}
