@import '/src/styles/themes/light.scss';
@import '/src/styles/themes/dark.scss';

.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
    border-bottom: 1px solid var(--accent-color);
}
